{% extends 'layouts/main.html' %}
{% block title %}Why Should I Join Make IT Matter{% endblock %}
{% block content %}


    <div class="row">
        <h3>Why I want to be a part of "Make IT Matter" ?</h3>


        <div class="jumbotron">
            <dd>I love to <strong>innovate</strong>, build things and <strong>make this world a better place</strong>.
                It is my passion and the purpose of life
                to build and be part of something that makes a <strong>positive impact in the world</strong>. I am a
                following the path
                of giants
                in the industry and a huge believe <strong>anything is possible</strong> if you do it smarter.
            </dd>
            <strong>
               " Loves to spend time with Spotify which i believe as an innovation hub" :)
            </strong>

        </div>
    </div>

    <div class="row">
        <h3>What can you contribute with ?</h3>


        <div class="jumbotron">
            <dd>I consider myself as a <strong> Technoprenuer.</strong> I am good at architecting solutions. I have a strong skills
                in Computer Science and Engineering. On top of all I can bring my <strong>passion</strong> which carried me all the way along.
            </dd>
            <br>
            <dd>
                I build a small application <strong>YouPotify</strong> to show what I am capable of building by spending couple of hours. So I can listen to music
                of twitter profiles while I write down my description and you may listen while you read :).
            </dd>

        </div>
    </div>

    <div class="row">
        <h3>What do you think matter ?</h3>


        <div class="jumbotron">
            <dd>
                I strongly believe whatever we do should be useful. I recently found something closely resembles my vision
                in this following video. We have an unfulfilled duty or obligation to contribute to make this world a better place.
                As Engineers we have taken a pledge silently in our hearts.
                </dd>
            <br>
                <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YY7f1t9y9a0"></iframe>
</div>

        </div>
    </div>

    <div class="row">
        <h3>How can you use your expertise in order to make an impact ?</h3>


        <div class="jumbotron">
           <dd>
               Information Technology is changing the world. We can innovate things much faster than past. It is easier to build things
               with cloud. My expertise in Computer Science and Engineering is a core component of building new solutions. Whenever a new
               idea comes to my mind it is much easier to validate and launch as I am well equipped with knowledge to achieve that.
           </dd>
        </div>
    </div>
    {#<div class="col-lg-3">
            <input type="submit" value="Send Message" class="btn btn-primary btn-lg btn-block">
        </div>#}

{% endblock %}

