{% extends 'layouts/main.html' %}
{% block title %}Send Message{% endblock %}
{% block content %}

        <div class="text-default">
           <h3>Get your Twitter profile in Songs</h3>
        </div>

        <div class="todo-search">
            {{ form.name(class_ = 'todo-search-field', placeholder = form.name.label.text, required = true, autofocus = true) }}
        </div>
        </br>

        <div id="result" class="row">
            {% for album in albums %}
                <div class=" col-lg-4">
                    <a onclick=play('{{ album['items'][0]['preview_url'] }}') class="thumbnail"
                       title={{ album['items'][0]['name'] }}
                               data-toggle="tooltip" alt="song">


                        <img src={{ album['items'][0]['album']['images'][0]['url'] }} alt="...">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="jumbotron">
            <h5> Why I want to be a part of "Make IT Matter ?"</h5>
            <li>I love to innovate, build things and make this world a better place</li>
            <li>MSc Student in Distributed Computing @ KTH Sweden</li>
            <li>Apache Committer, Open Source contributor</li>
            <li>Young Innovator Alumnus at ITU Geneva</li>
            <li>Inspired to solve problems and make this world more wonderful</li>
             <dl>If you are bored add a twitter name (eg: shelan)  to top search and listen to music :)</dl>


        </div>
        {#<div class="col-lg-3">
            <input type="submit" value="Send Message" class="btn btn-primary btn-lg btn-block">
        </div>#}

{% endblock %}

