
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

#browsebutton {
  background-color: white;
}

#my-file-selector {
    display: none;
}

#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
    /* background:url('http://jsfiddle.net/img/initializing.png') no-repeat;
    width:186px;
    height:157px;*/
}

/* Various other styles end */
