{% extends 'layouts/form.html' %}
{% block title %}Send Message{% endblock %}
{% block content %}

    <form method="post" action="{{ url_for('send') }}" class="form-group">
        <h3 class="form-heading">Post Message<a href="{{ url_for('send') }}" title="Back to homepage">
            <i class="fa fa-home pull-right"></i></a></h3>
        <br>
        {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
        </br>
        <div class="col-m">
            <input type="submit" value="Send Message" class="btn btn-primary btn-lg btn-block">
        </div>
    </form>

{% endblock %}

