{% extends 'layouts/form.html' %}
{% block title %}Make IT Matter{% endblock %}
{% block content %}
    <form method="post" action="{{ url_for('send') }}" class="form-group">

        <div class="text-default">
           <h4>YouPotify - Get your Twitter Description in Songs</h4>
        </div>

        <div class="todo-search" title="Enter your name and press Enter" data-toggle="tooltip">
            {{ form.name(class_ = 'todo-search-field', placeholder = form.name.label.text, required = true, autofocus = true) }}
        </div>
        </br>

        <div id="result" class="row">
            {% for album in albums %}
                <div class=" col-lg-4">
                    <a onclick=play('{{ album['items'][0]['preview_url'] }}') class="thumbnail"
                       title={{ album['items'][0]['name'] }}
                               data-toggle="tooltip" alt="song">


                        <img src={{ album['items'][0]['album']['images'][0]['url'] }} alt="...">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="jumbotron">
            <h5> Why I want to be a part of "Make IT Matter ?"</h5>
            <li>I love to innovate, build things and make this world a better place</li>
            <li>MSc Student in Distributed Computing @ <a href="https://www.kth.se" target="_blank">KTH</a> Sweden</li>
            <li>Apache Committer, Open Source contributor</li>
            <li>Former Senior Software Engineer at <a href="http://wso2.com" target="_blank">WSO2</a></li>
            <li>Young Innovator at ITU Geneva 2011</li>
            <li>Inspired to solve problems and make this world more wonderful</li>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('about')}}" role="button">Full Answers</a></p>
             <dl>If you are bored add a twitter name (eg: shelan)  to top search and listen to music :)</dl>


        </div>
        {#<div class="col-lg-3">
            <input type="submit" value="Send Message" class="btn btn-primary btn-lg btn-block">
        </div>#}
    </form>
    <script>
        var audio = new Audio();
        function play(url) {
            audio.src = url;
            audio.play();
        }
        function stop() {
            //audio.stop();
        }

    </script>

{% endblock %}

