{% extends 'layouts/form.html' %}
{% block title %}Send Message{% endblock %}
{% block content %}
<br>
    <form method="post" action="{{ url_for('send') }}" class="form-group">
        <h4 class="form-heading">Post Message</h4>
        <br>
        <div class="col-lg-10">
        {{ form.name(class_ = 'form-control input-lg', placeholder = form.name.label.text, required = true, autofocus = true) }}
         </div>
        </br></br></br><br>
        <div id="result"></div>
        <div class="col-lg-3">
            <input type="submit" value="Send Message" class="btn btn-primary btn-lg btn-block">
        </div>
    </form>

{% endblock %}

